body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ecf2ff;
    display: flex;
    min-height: 100dvh;
    justify-content: center;
    align-items: center;
}

.main-layout {
    display: flex;
    border-radius: 32px;
    gap: 16px;
    background-color: white;
    width: fit-content;
}

@media (width < 600px) {
    .main-layout {
        flex-direction: column;
    }
}

.result {
    display: flex;
    flex-direction: column;
    background-color: #4c37f4;
    justify-content: center;
    align-items: center;
    padding: 24px;
    border-radius: 32px;
    width: 300px;
}

.result-title {
    color: #cac3ff;
    font-size: 24px;
}

.result-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #4b25ce;
    padding: 24px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 16px;
}

.result-circle-score {
    color: white;
    font-size: 64px;
    margin: 0;
    font-weight: bold;
}

.result-circle-total {
    color: #897dff;
}

.result-remark {
    color: white;
    font-size: 36px;
}

.result-description {
    color: #b9b7ff;
    text-align: center;
}

.summary {
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 16px;
}

.summary-title {
    font-size: 24px;
    color: darkblue;
}

.badge-layout {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.badge {
    background-color: #fff6f7;
    padding-inline: 16px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.badge-title {
    display: flex;
    gap: 8px;
}

.btn {
    background-color: #333;
    color: white;
    padding: 12px;
    border-radius: 32px;
}